h1{
    text-align: center;
    color: red;
    background-color: #dad9d9;
    font-weight: bold;
}

h2{
   text-align: center;
   color: red;
}

.highlight{
    color: blue;
}

#highlight{
    background-color: yellow;
}
.edit{
    background-color: #dad9d9;
    text-align: right ;

}